<tr id="<%= dom_id contact %>">
  <td><%= link_to contact.first_name, contact %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.threads %></td>
</tr>
