<%= form_with(model: contact) do |form| %> <% if contact.errors.any? %>
<div style="color: red">
  <h2>
    <%= pluralize(contact.errors.count, "error") %> prohibited this contact from
    being saved:
  </h2>

  <ul>
    <% contact.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="my-3">
  <%= form.text_field :first_name, placeholder: "First Name" %>
</div>

<div class="my-3">
  <%= form.text_field :last_name, placeholder: "Last Name" %>
</div>

<div class="my-3">
  <%= form.text_field :email, placeholder: "Email Address" %>
</div>

<div class="my-3">
  <%= form.text_field :phone, placeholder: "Phone Number" %>
</div>

<div class="my-3">
  <%= form.text_field :threads, placeholder: "Threads Username" %>
</div>

<%= form.hidden_field :user_id, id: :contact_user_id, value: current_user.id %>

<div class="mt-4">
  <%= form.submit class: "btn btn-dark" %>
</div>
<% end %>
