<table class="table table-striped my-3">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Threads</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= link_to contact.first_name, contact %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.threads %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New contact", new_contact_path, class: "btn btn-success" %>